.login {
    background-image: url("/public/samuel-zeller-118195-unsplash.jpg");
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    /* background-image: url("/public/samuel-zeller-118195-unsplash.jpg"); */
}