* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    /* background-image: linear-gradient(to right, #3887ee, #3626c9); */
    background: url("/public/forkliftpackage.jpg");
}

@media (min-width: 320px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

@media (min-width: 460px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

@media (min-width: 720px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

@media (min-width: 980px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

@media (min-width: 1240px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

@media (min-width: 1500px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

@media (min-width: 1760px) {
    .hero::before {
        background-image: url("/public/hallpackage.jpg");
    }
}

h2 {
    font-family: 'Helvetica', sans-serif;
    font-weight: 900;
    font-size: 6em;
    text-transform: uppercase;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
}

btn {
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    color: #212121;
}


/* label color */

.input-field label {
    color: rgb(184, 15, 15);
}


/* label focus color */

.input-field input[type=text]:focus+label {
    color: pink;
}


/* label underline focus color */

.input-field input[type=text]:focus {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* valid color */

.input-field input[type=text].valid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* invalid color */

.input-field input[type=text].invalid {
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 0 0 #000;
}


/* icon prefix focus color */

.input-field .prefix.active {
    color: #000;
}